.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}


.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

/*navbar*/
.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ad0000;
}

.navbar-default .navbar-nav > li > a:active {
  color: #940000;
}
.logo-nav{
  margin-left: -50%;
}


/*Carrossel*/
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.bottom-left{
  margin-top: 125%;
}
.bottom-right{
  margin-top: 125%;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
  background: #5798B2;
}
.item:nth-child(2) {
  background: #5798B2;
}
.item:nth-child(3) {
  background: #5798B2;
}
.slider-one{
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
}
.slider-two{
  margin-top: -1.5%;
  background-color: #5798B2;
  opacity: 80%;
  height: 100%;
}
.slider-three{
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
}
h1{
  font-family: sans-serif;
}