.navbar a,
.sec-about p {
  text-align: center;
}
.navbar a{
  font-size: 21px;
  font-family: 'Open Sans';
}
.navbar .fa-external-link {
  font-size: 10px; 
}
.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

/*navbar*/
.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin-top: 5px;
}
.navbar-default {
  background: #3A6B7E;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
}

.navbar-default .navbar-nav > li > a:active {
  color: #000;
}
.logo-nav{
  margin-left: -50%;
}

.bottom-projeto {
  background-color:#8FBACC;
  border-radius: 50px ;
  height: 15px 5px 0px;
}

/*Carrossel*/
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 0;
  background-color: #fff;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.bottom-left{
  margin-top: 125%;
}
.bottom-right{
  margin-top: 125%;
}


/*sliders*/
body{
  font-family: 'Open Sans';
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
  background: #5798B2;
}
.item:nth-child(2) {
  background: #5798B2;
}
.item:nth-child(3) {
  background: #5798B2;
}

/*Primeiro Slider*/
.slider-one{
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
}
.title-one{
  color: #747474;
  font-weight: bold;
  margin-top: 85px;
  margin-left: 120px;
  position: absolute;

}

/*Segundo slider*/
.slider-two{
  margin-top: -1.5%;
  background-color: #5798B2;
  opacity: 80%;
  height: 100%;
}
.title-two{
  color:#fff;
  font-weight: bold;
  position: absolute;
  margin-top: 85px; 
  margin-left: 65%;
}

/*Terceiro slider*/
.slider-three{
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
}
.title-three{
  color: #747474;
  font-weight: bold;
  margin-left: 30%;
}
.logo-position{
  margin-top: 15%;
  margin-left: 48%;
}
.bottom-start{
  color: #fff;
  font-size: 20px;
  background-color:#8FBACC;
  font-weight: bold;
  border-radius:42px;
  border:1px solid #8FBACC;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size: 23px;
  padding:10px 80px;
  text-decoration:none;
  margin-left: 42%;
 
  
}