.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.bottom-left{
  margin-top: 125%;
}
.bottom-right{
  margin-top: 125%;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
  background: #74C390;
}
.item:nth-child(2) {
  background: #51BCE8;
}
.item:nth-child(3) {
  background: #E46653;
}
.slider-one{
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
}
.slider-two{
  margin-top: -1.5%;
  background-color: #5798B2;
  opacity: 80%;
  height: 100%;
}
.slider-three{
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
}
h1{
  font-family: sans-serif;
}